// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple iPhone 7 Plus (Intel), D111, iPhone9,4 (A1661/A1784/A1785/A1786)
 * Copyright (c) 2022, Konrad Dybcio <konradybcio@kernel.org>
 */

/dts-v1/;

#include "t8010-7.dtsi"

/ {
	compatible = "apple,d111", "apple,t8010", "apple,arm-platform";
	model = "Apple iPhone 7 Plus (Intel)";

	aliases {
		touchscreen0 = &touchscreen;
	};

	d111_battery: battery {
		compatible = "simple-battery";
		constant-charge-current-max-microamp = <1950000>;
	};
};

&i2c0 {
	status = "okay";

	pmic@27 {
		compatible = "apple,chestnut-pmic";
		reg = <0x27>;
		#address-cells = <1>;
		#size-cells = <1>;

		touch_hv: regulator-touch-hv {
			compatible = "apple,chestnut-touch-hv-regulator";
			regulator-name = "touch-hv";
		};
	};
};

&i2c1 {
	charger@75 {
		compatible = "apple,sn2400";
		reg = <0x75>;

		sn2400_charger: charger {
			compatible = "apple,sn2400-charger";
			monitored-battery = <&d111_battery>;
			input-current-limit-microamp = <2000000>;
			mux-states = <&hdq_mux 0>;
			mux-state-names = "hdq";
		};

		hdq_mux: hdq-mux {
			compatible = "apple,sn2400-hdq-mux";
			#mux-state-cells = <1>;
		};
	};
};

&pinctrl_ap {
	battery_swi_pins: battery-swi-pins {
		pinmux = <APPLE_PINMUX(173, 1)>;
	};
};

&serial5 {
	pinctrl-0 = <&battery_swi_pins>;
	pinctrl-names = "default";
	status = "okay";

	onewire {
		compatible = "ti,hdq-uart";
		mux-states = <&hdq_mux 1>;
		mux-state-names = "hdq";

		fuel-gauge {
			compatible = "apple,d111-bq27545", "ti,bq27545-hdq";
			monitored-battery = <&d111_battery>;
		};
	};
};

&spi2 {
	cs-gpios = <&pinctrl_ap 81 GPIO_ACTIVE_LOW>;
	dmas = <&sio 0x18>;
	dma-names = "tx";
	status = "okay";

	touchscreen: touchscreen@0 {
		compatible = "apple,d111-touchscreen";
		reg = <0>;
		spi-max-frequency = <3000000>;
		spi-cpol;
		spi-cpha;
		apple,z2-no-init-ack;
		interrupts-extended = <&pinctrl_ap 166 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&pinctrl_ap 161 GPIO_ACTIVE_LOW>;
		hv-supply = <&touch_hv>;
		core-supply = <&touch_core>;
		clocks = <&touchclk>;
		firmware-name = "apple/dfrmtfw-d111-c1f5e-2.bin";
		touchscreen-size-x = <1080>;
		touchscreen-size-y = <1920>;
	};
};

&sio {
	status = "okay";
};

&touchclk {
	clock-frequency = <32768>;
};
