// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple iPad 7 common device tree
 *
 * Copyright (c) 2022, Konrad Dybcio <konradybcio@kernel.org>
 */

/*
 * The iPad 7 seems to be only an iteration over the iPad 6 with some
 * small changes, like the a bigger screen and 1 GiB of RAM more, hence
 * there is little to no differentiation between these 2 generations for
 * now.
 */
#include "t8010-ipad6.dtsi"

/ {
	ipad7_battery: battery {
		compatible = "simple-battery";
		charge-full-design-microamp-hours = <8557000>;
	};

	spi3_nclk: clock-spi3-nclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <55384615>;
		clock-output-names = "spi3-nclk";
	};
};

&pinctrl_ap {
	battery_swi_pins: battery-swi-pins {
		pinmux = <APPLE_PINMUX(173, 1)>;
	};

	i2c1_gpio_pins: i2c1-gpio-pins {
		pinmux = <APPLE_PINMUX(40, 0)>,
			 <APPLE_PINMUX(39, 0)>;
	};

	touch_display_sync_active: touch-display-sync-active-pins {
		pinmux = <APPLE_PINMUX(176, 1)>,
			 <APPLE_PINMUX(177, 1)>;
	};
};

&serial5 {
	pinctrl-0 = <&battery_swi_pins>;
	pinctrl-names = "default";
	status = "okay";

	onewire {
		compatible = "ti,hdq-uart";

		battery: fuel-gauge {
			compatible = "ti,bq27545-hdq";
			monitored-battery = <&ipad7_battery>;
		};
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-1 = <&i2c1_gpio_pins>;
	pinctrl-names = "default", "gpio";
	resets = <&ps_i2c1>;
	scl-gpios = <&pinctrl_ap 40 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&pinctrl_ap 39 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	status = "okay";

	usb_power: usb-power@13 {
		compatible = "apple,bellatrix";
		reg = <0x13>;
		interrupt-parent = <&pinctrl_aop>;
		interrupts = <13 IRQ_TYPE_LEVEL_LOW>;
	};
};

&d2365_pmic {
	d2365_charger: charger@180 {
		compatible = "apple,j172-d2365-charger", "apple,d2365-charger";
		reg = <0x180 0x1e>, <0xa00 0x0d>;
		reg-names = "status", "control";
		power-supplies = <&usb_power>;
	};
};

&spi3 {
	cs-gpios = <&pinctrl_ap 85 GPIO_ACTIVE_LOW>;
	clocks = <&spi3_nclk>;
	dmas = <&sio 0x1a>;
	dma-names = "tx";
	status = "okay";

	touchscreen@0 {
		compatible = "apple,j172-touchscreen";
		reg = <0>;
		spi-max-frequency = <24000000>;
		spi-cpol;
		spi-cpha;
		spi-cs-setup-delay-ns = <10000>;
		spi-cs-hold-delay-ns = <10000>;
		spi-cs-inactive-delay-ns = <10000>;
		apple,z2-bpw16-min-len = <17>;
		apple,z2-no-init-ack;
		pinctrl-names = "display-sync-active";
		pinctrl-0 = <&touch_display_sync_active>;
		/* D10/D11 supplies are not present on J172. */
		interrupts-extended = <&pinctrl_ap 21 IRQ_TYPE_EDGE_FALLING>;
		power-ldo-gpios = <&pinctrl_ap 29 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&pinctrl_ap 31 GPIO_ACTIVE_LOW>;
		power-ana-gpios = <&pinctrl_ap 145 GPIO_ACTIVE_HIGH>;
		display-sync-gpios = <&pinctrl_ap 176 GPIO_ACTIVE_HIGH>;
		display-sync1-gpios = <&pinctrl_ap 177 GPIO_ACTIVE_HIGH>;
		clocks = <&touchclk>;
		firmware-name = "apple/dfrmtfw-j172-k1f19-6.bin";
		touchscreen-size-x = <1620>;
		touchscreen-size-y = <2160>;
	};
};

&sio {
	status = "okay";
};
